.page {
  padding: 0 1.25em;
}

h1,
footer {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}
.header__theme-menu {
  align-self: start;
  justify-self: center;
}
.header__theme-menu-list {
  margin-block-start: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: start;
  gap: 8px;
}
.header__theme-menu-list li {
  inline-size: 30%;
}

header h1 {
  position: relative;
  margin-inline-start: -20px;
  margin-block-start: 30px;
}
header p {
  margin-block-start: 25px;
  position: relative;
  inline-size: 50%;
  align-self: start;
  justify-self: end;
}
main {
  padding-block-start: 40px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
}
article {
  padding-block-start: 20px;
  padding-block-end: 20px;
}
section ul {
  padding-block-start: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
section.why {
  display: grid;
  grid-template-columns: 1fr 66%;
  gap: 1.25rem;
}


section.why h2 {
  padding-block-start: 20px;
}

section.what h2 {
  inline-size: 34%;
}

section.what ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: start;
  gap: 20px;
}

li {
  display: block;
}

section.how {
  display: grid;
  grid-template-columns: 1fr 66%;
  gap: 20px;
  gap: 20px;
}

section.how article {
  padding-block-start: 0;
}
section.how h3 {
  margin-block-end: 10px;
  margin-block-end: 10px;
}

.rec {
  inset-block-start: 20px;
  inset-inline-end: 29px;
  inset-inline-end: 29px;
}
.decorated-zone::after {
  inset-inline-start: 0rem;
  inset-block-end: 20px;
}
.decorated-zone::before {
  inset-block-start: 20px;
  inset-inline-end: 0rem;
}
section.gallery {
  padding-block-start: 0px;
  padding-block-start: 0px;
}
section.gallery article {
  padding: 10px 0 0 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "aa aa bb"
    "cc dd bb"
    "cc ee ee";
  gap: 20px;
}

section.gallery article img:nth-of-type(1) {
  grid-area: aa;
}
section.gallery article img:nth-of-type(2) {
  grid-area: bb;
}
section.gallery article img:nth-of-type(3) {
  grid-area: cc;
}
section.gallery article img:nth-of-type(4) {
  grid-area: dd;
}
section.gallery article img:nth-of-type(5) {
  grid-area: ee;
}
footer {
  margin-block-start: 60px;
}
