/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  position: relative;
  padding: 0 0.625em;
  color: var(--main-color);
  font-family: "IBM Plex mono", monospace;
  font-size: 1em;
  background-size: cover;
  background-attachment: fixed;
  inline-size: 100%;
}

.rec {
  position: absolute;
  display: none;
  inset-block-start: 10px;
  inset-inline-end: 29px;
  inset-block-start: 10px;
  inset-inline-end: 29px;
}

@media (prefers-color-scheme: dark) {
  .rec {
    display: block;
  }
}

.rec::before {
  content: "REC";
  color: var(--accent-color);
  font-size: 1.125em;
  line-height: 1.5625rem;
}

.rec::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 2px var(--accent-color);
  background-color: var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
  inset-block-start: 8px;
  inset-inline-end: -20px;
  inset-inline-end: -20px;
}

header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 20px;
  height: 100vh;
  min-height: 668px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  gap: 30px;
  margin-block-start: 40px;
}

footer {
  position: relative;
  display: grid;
  height: 100vh;
  min-height: 668px;
  margin-block-start: 30px;
  margin-block-start: 30px;
  color: var(--title-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825em;
  text-shadow: 2px 2px 0 var(--title-shadow);
}

footer span {
  place-self: center;
}

h1 {
  color: var(--title-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825em;
  text-shadow: 4px 4px 0 var(--title-shadow);
}

header h1 {
  position: relative;
  align-self: center;
  inset-block-start: 10px;
}

.header__theme-menu {
  align-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 0.625rem;
}

.header__theme-menu-button {
  border: none;
  padding: 0.1rem 0.8125rem;
  color: var(--theme-switcher-color);
  font-size: 1.125rem;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button.header__theme-menu-button_active {
  border: 1px solid var(--theme-switcher-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-hover-color);
}

.header__theme-menu-button:focus {
  border-block-end: 1px solid var(--theme-switcher-color);
  outline: none;
}

header p {
  position: relative;
  align-self: start;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 1.125em;
  background-color: var(--accent-color);
  inset-block-start: 0.5rem;
}

header nav {
  place-self: end;
}

.how ul {
  padding-block-start: 10px;
}

section ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-block-start: 0;
}

section.gallery {
  padding-block-end: 0;
}

section.gallery article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.625rem;
  padding-block-end: 10px;
}

img {
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-inline-start: 1px solid var(--theme-switcher-color);
  border-block-end: 1px solid var(--theme-switcher-color);
  inset-inline-start: 0rem;
  inset-block-end: 0.625rem;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-inline-end: 1px solid var(--theme-switcher-color);
  border-block-start: 1px solid var(--theme-switcher-color);
  inset-block-start: 0.625rem;
  inset-inline-end: 0rem;
  inline-size: 25px;
  block-size: 25px;
}

section.gallery h3 {
  color: var(--secondary-color);
  font-size: 1.125rem;
  line-height: 1.463rem;
  background-color: var(--accent-color);
}

article {
  padding-block-start: 20px;
  padding-block-end: 20px;
}

.gallery article {
  padding-block-start: 0px;
}

h2 {
  color: var(--theme-switcher-color);
  font-size: 1.125rem;
  line-height: 1.463rem;
}

h3 {
  margin-block-end: 10px;
  color: var(--secondary-color);
  font-size: 18px;
  font-size: 18px;
  line-height: 23.4px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

h4 {
  display: block;
  margin-block-end: 10px;
  margin-block-end: 10px;
  color: var(--secondary-color);
  font-weight: normal;
  font-size: 18px;
  font-size: 18px;
  line-height: 23.4px;
  line-height: 23.4px;
  background-color: var(--accent-color);
  inline-size: 100%;
}

li p {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-size: 18px;
  line-height: 23.4px;
  line-height: 23.4px;
}

a:link,
a:visited {
  display: inline-block;
  line-height: 1rem;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

a:hover,
a:active {
  border-block-end: 1px solid var(--main-color);
}

a:focus {
  outline: 1px solid var(--main-color);
  outline-offset: 1px;
}
