/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  position: relative;
  inline-size: 100%;
  background-attachment: fixed;
  background-size: cover;
  color: var(--main-color);
  font-size: 1em;
  font-family: "IBM Plex mono", monospace;
  padding: 0 0.625em;
}
.rec {
  display: none;
  position: absolute;
  inset-block-start: 11px;
  inset-inline-end: 38px;
}
@media (prefers-color-scheme: dark) {
  .rec {
    display: block;
  }
}
.rec::before {
  content: "REC";
  font-size: 1.125em;
  line-height: 1.5625rem;
  color: var(--accent-color);
}
.rec::after {
  content: "";
  block-size: 9px;
  inline-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  position: absolute;
  inset-block-start: 8px;
  inset-inline-end: -18px;
  box-shadow: 0px 0px 3px 2px var(--accent-color);
}
header {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 20px;
}
main {
  margin-block-start: 40px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
footer {
  margin-block-start: 40px;
  height: 100vh;
  min-height: 668px;
  display: grid;
  position: relative;
}
footer span {
  place-self: center;
}
h1,
footer {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 0.825em;
  color: var(--title-color);
  font-weight: bold;
}
header h1 {
  align-self: center;
  position: relative;
  inset-block-start: 0.5rem;
}
.header__theme-menu {
  align-self: end;
}
.header__theme-menu-list {
  display: grid;
  gap: 0.625rem;
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
  color: var(--theme-switcher-color);
  text-transform: lowercase;
  font-size: 1.125rem;
  padding: 0.1rem 0.8125rem;
  cursor: pointer;
}
.header__theme-menu-button.header__theme-menu-button_active {
  border: 1px solid var(--theme-switcher-color);
  pointer-events: none;
}
.header__theme-menu-button:hover {
  border: 1px solid var(--accent-hover-color);
}
.header__theme-menu-button:focus {
  outline: none;
  border-block-end: 1px solid var(--theme-switcher-color);
}

header p {
  position: relative;
  inset-block-start: 0.5rem;
  align-self: start;
  font-size: 1.125em;
  font-weight: bold;
  color: var(--secondary-color);
  background-color: var(--accent-color);
}
header nav {
  place-self: end;
}

section.why {
  padding-block-start: 0em;
}
section {
  padding-block-start: 1.25em;
}
section.how ul {
  padding-block-start: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
section.gallery {
  padding-block-end: 0;
}
section.gallery article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.625rem;
}
img {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}
.decorated-zone::after {
  content: "";
  position: absolute;
  inset-inline-start: 0rem;
  inset-block-end: 0.625rem;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}
.decorated-zone::before {
  content: "";
  position: absolute;
  inset-block-start: 0.625rem;
  inset-inline-end: 0rem;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}
h2 {
  color: var(--accent-color);
  font-size: 1.125rem;
  line-height: 1.463rem;
  padding-block-end: 0.15rem;
}
section.gallery h3 {
  color: var(--secondary-color);
  background-color: var(--accent-color);
  font-size: 1.125rem;
  line-height: 1.463rem;
  margin-block-end: 10px;
}

article > h3 {
  margin-block-start: 1rem;
  margin-block-end: 20px;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  font-size: 1.125rem;
  line-height: 1.463rem;
}
li > h3 {
  display: block;
  inline-size: 100%;
  margin-block-start: 1.125rem;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  margin-block-end: 0.625rem;
  font-size: 1.125rem;
  line-height: 1.463rem;
}
h4 {
  display: block;
  inline-size: 100%;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  margin-block-end: 0.625rem;
  font-size: 1.125rem;
  line-height: 1.463rem;
}
li p {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.463rem;
}

a:link,
a:visited {
  display: inline-block;
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
  line-height: 1rem;
}
a:hover,
a:active {
  border-block-end: 1px solid var(--main-color);
}
a:focus {
  outline: 1px solid var(--main-color);
  outline-offset: 1px;
}
