/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-hover-color: rgba(255, 0, 112, 0.4);
  --theme-switcher-color: #ff0070;
  --secondary-color: #000;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --main-color: #f1b2ce;
}