/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

@media (prefers-color-scheme: dark) {
  .page {
    --main-color:#F1B2CE;
    --secondary-color:#000;
    --title-color:#DB00FF;
    --theme-switcher-color:#FF0070;
    --accent-color:#FF0070;
    --accent-hover-color:rgba(255, 0, 112, 0.4);
    background-image: url(../images/cover-image-dark.png);
  }
  .rec{
    display: block;
  }

}

@media (prefers-color-scheme: light) {
  .page {
    --main-color:rgba(53, 52, 48, 1);
    --secondary-color:rgba(53, 52, 48, 1);
    --title-color:rgba(255, 194, 230, 1);
    --theme-switcher-color:rgba(53, 52, 48, 1);
    --accent-color:rgba(255, 141, 203, 1);
    --accent-hover-color:rgba(50, 49, 45, 0.4);
    background-image: url(../images/cover-image-light.png);
  }
 
}